---
import type { TextIniciT } from '../../lib/types';

interface Props {
  textosInici: TextIniciT[];
  classesClaus: string;
}
const { textosInici, classesClaus } = Astro.props;
---

<div id='textosInici' class='p-4 pb-8 sm:px-10 sm:text-lg flex flex-col gap-6'>
  {
    textosInici.map(({ text, claus }, index) => {
      if (claus && claus.length > 0) {
        claus
          .filter((clau) => text.includes(clau))
          .forEach((clau) => {
            const htmlClau = ` <span class='${classesClaus}'>${clau}</span> `;
            text = text.replace(clau, htmlClau);
          });

        if (index === 0) return <p class='first-letter' set:html={text} />;
        return <p class='leading-relaxed' set:html={text} />;
      }
      return <p class='leading-relaxed'>{text}</p>;
    })
  }
</div>
