---
import traç from '../assets/img/paint.png';
import retrat from '../assets/img/main-portrait.jpg';
import SeparadorInici from './SeparadorInici.astro';

import { textosInici } from '../lib/data';
import TextosInici from './TextosInici.astro';

const srcRetrat: string = retrat.src;
const srcTraç: string = traç.src;
const classesClaus = 'font-bold text-red-500';
---

<div class='relative mx-12 flex flex-col gap-12 items-center justify-center'>
  <h1 class='text-3xl'>
    Entra a l'encantador <span class='font-bold'>món digital</span> de na Hua
  </h1>
  <div class='relative'>
    <SeparadorInici />
    <TextosInici textosInici={textosInici} classesClaus={classesClaus} 
    />
  </div>
  <div id='dadesInici' class='flex justify-center text-center xl:gap-12'>
    <div class='w-32'>
      <h2>Mostres</h2>
      <p class='text-xl font-bold'>85</p>
    </div>
    <div class='w-32'>
      <h2>Valoracions</h2>
      <p class='text-xl font-bold'>1,2m</p>
    </div>
    <div class='w-32'>
      <h2>Comentaris</h2>
      <p class='text-xl font-bold'>50</p>
    </div>
  </div>
  <div class='relative'>
    <img
      class='h-full'
      src={srcRetrat}
      alt='Retrat de na Hua'
      title='Retrat de na Hua'
    />
    <div class='absolute bottom-0 right-0 translate-y-1/4'>
      <img src={srcTraç} alt='Traç' title='Traç' />
    </div>
  </div>
</div>
<div class='mt-12 h-4 w-full bg-black'></div>

<script>
  function actualitzarDades() {
    const textInici = document.querySelector('#textInici') as HTMLElement;
    const separadorInici = document.querySelector(
      '#separadorInici'
    ) as SVGPathElement;
    const dadesInici = document.querySelector('#dadesInici') as HTMLElement;

    if (textInici && separadorInici && dadesInici) {
      separadorInici.setAttribute(
        'd',
        `M0,0 V${textInici.offsetHeight} H${textInici.offsetWidth} v${
          dadesInici.offsetHeight * 3
        }`
      );
    }
  }
  window.addEventListener('DOMContentLoaded', actualitzarDades);
  window.addEventListener('resize', actualitzarDades);
</script>
