---
import traç from '../assets/img/paint.png';
import retrat from '../assets/img/main-portrait.jpg';
import SeparadorInici from './SeparadorInici.astro';
import { endPoints, textosInici } from '../lib/data';
import TextosInici from './TextosInici.astro';
//import TextosInici from './TextosInici.jsx';
import DadesInici from './DadesInici.astro';
import ImatgeInici from './ImatgeInici.astro';
import type { postT } from '../lib/types';
import { fetchDades } from '../lib/utils/fetachDades';

const srcRetrat: string = retrat.src;
const srcTraç: string = traç.src;
const classesClaus = 'font-bold text-red-500';
const posts = endPoints.posts;
const dades = await fetchDades(posts);
let text: string = dades && dades.length > 0 ? dades[0].body : '';
---

<div class='relative flex flex-col items-center justify-center gap-12'>
  <h1 class='text-4xl text-center'>
    Entra a l'encantador <span class='font-bold'>món digital</span> de na Hua
  </h1>
  <div class='relative'>
    <SeparadorInici />
    <TextosInici textosInici={textosInici} classesClaus={classesClaus} />
    <!-- <TextosInici
      client:load
      textosInici={textosInici}
      classesClaus={classesClaus}
    /> -->
  </div>
  <div class='flex flex-col items-center justify-center gap-12 px-6'>
    <DadesInici />
    <ImatgeInici srcRetrat={srcRetrat} srcTraç={srcTraç} text={text} />
  </div>

  <div class='h-2 w-full bg-black'></div>
</div>
