---
import traç from '../assets/img/paint.png';
import retrat from '../assets/img/main-portrait.jpg';
import SeparadorInici from './SeparadorInici.astro';
import { textosInici } from '../lib/data';
import TextosInici from './TextosInici.astro';
//import TextosInici from './TextosInici.jsx';
import DadesInici from './DadesInici.astro';
import { fetchDades } from '../lib/utils/fetachDades';
import { endPoints } from '../lib/data';
import ImatgeInici from './ImatgeInici.astro';

const srcRetrat: string = retrat.src;
const srcTraç: string = traç.src;
const classesClaus = 'font-bold text-red-500';
const posts = endPoints.posts;
const dades = await fetchDades(posts);
const text = dades[0].body;
---

<div class='relative flex flex-col gap-12 items-center justify-center'>
  <h1 class='text-4xl'>
    Entra a l'encantador <span class='font-bold'>món digital</span> de na Hua
  </h1>
  <div class='relative'>
    <SeparadorInici />
    <TextosInici textosInici={textosInici} classesClaus={classesClaus} />
    <!-- <TextosInici
      client:load
      textosInici={textosInici}
      classesClaus={classesClaus}
    /> -->
  </div>
  <DadesInici  />
  <ImatgeInici srcRetrat={srcRetrat} srcTraç={srcTraç} text={text}/>

  <div class='mt-12 h-4 w-full bg-black'></div>
</div>
