---
import traç from '../assets/img/paint.png';
import retrat from '../assets/img/main-portrait.jpg';
import SeparadorInici from './SeparadorInici.astro';
import DadesInici from './DadesInici.astro';

import { textosInici } from '../lib/data';
import TextosInici from './TextosInici.astro';
//import TextosInici from './TextosInici.jsx';

const srcRetrat: string = retrat.src;
const srcTraç: string = traç.src;
const classesClaus = 'font-bold text-red-500';
---

<div class='relative flex flex-col gap-12 items-center justify-center'>
  <h1 class='text-4xl'>
    Entra a l'encantador <span class='font-bold'>món digital</span> de na Hua
  </h1>
  <div class='relative'>
    <SeparadorInici />
    <TextosInici textosInici={textosInici} classesClaus={classesClaus} />
    <!-- <TextosInici
      client:load
      textosInici={textosInici}
      classesClaus={classesClaus}
    /> -->
  </div>
  <DadesInici />
  <div class='relative'>
    <img
      class='h-full'
      src={srcRetrat}
      alt='Retrat de na Hua'
      title='Retrat de na Hua'
    />
    <div class='absolute bottom-0 right-0 translate-y-1/4'>
      <img src={srcTraç} alt='Traç' title='Traç' />
    </div>
  </div>

  <div class='mt-12 h-4 w-full bg-black'></div>
</div>
