---
import { galeria } from '../../lib/data/index';
import { textosBiografia } from '../../lib/data/index';
import { obtenirTextBiografia } from '../../lib/utils/obtenirTextBiografia';

import type { artT } from '../../lib/types';

const { idArt } = Astro.props;
const targeta: artT = galeria[idArt];
const { src, alt, title, any, mida, tecnica, descripcio, descripcioLlarga } =
  targeta;

const textBiografiaTargeta = obtenirTextBiografia(any, textosBiografia);
const { anys: anysPeriode, titol: titolPeriode } = textBiografiaTargeta;
---

<div
  class='flex flex-col gap-14 lg:gap-20 py-8 lg:py-16 px-8 lg:px-24 border-2 rounded-xl border-zinc-200'>
  <div class='flex flex-col gap-6 lg:gap-3'>
    <div class='flex flex-col lg:flex-row gap-3 items-baseline'>
      <p class='text-red-500 text-3xl uppercase'>{title}</p>
      <span class='text-xl font-thin'> ({any})</span>
    </div>
    <p>{descripcio}</p>
  </div>

  <div>
    <img src={src} alt={alt} title={title} class='w-full rounded-xl' />
  </div>
  <div class='flex flex-col lg:flex-row gap-6 lg:gap-0 lg:justify-evenly'>
    <ul class='lg:w-4/12 flex flex-col gap-1 font-light leading-relaxed'>
      <li>
        <span class='font-thin uppercase text-red-500 mr-2'>Mida:</span>
        {mida}
      </li>
      <li>
        <span class='font-thin uppercase text-red-500 mr-2'>Tècnica:</span>
        {tecnica}
      </li>
      <li class='flex flex-wrap gap-2'>
        <span class='font-thin uppercase text-red-500'> Periode artístic:</span>
        <div class='flex gap-2'>
          <span>{titolPeriode}</span>
          <span>({anysPeriode[0]} - {anysPeriode[1]})</span>
        </div>
      </li>
    </ul>
    <div class='lg:w-7/12'>
      <p class='text-justify'>
        <span class='font-thin uppercase text-red-500 mr-2'>Descripció:</span>
        {descripcioLlarga}
      </p>
    </div>
  </div>
  <a href='/galeria'>
    <button
    class='w-full border-2 rounded-xl border-zinc-200 hover:bg-zinc-200 focus:border-neutral-800 py-1'
    >Tornar a Galeria</button>
  </a>
</div>
